.weather-details {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
	width: 506px;
	height: auto;
}

@media (width < 887px) {
	.weather-details {
		justify-content: center;
		gap: 12px;
	}
}

@media (width < 641px) {
	.weather-details {
		max-width: 400px;
		gap: 8px;
	}
}

@media (width < 450px) {
	.weather-details {
		width: 311px;
	}
}
