.weather-details__range {
	width: 100%;
	height: 8px;
	background: rgba(218, 218, 218, 0.4);
	position: relative;
	overflow: hidden;
	mask: radial-gradient(circle 20px at var(	--ellipse-position), #000 4px, transparent 4px, transparent 6px, #000 0);
	border-radius: var(--border-radius);
}

@media (width <= 641px) {
	.weather-details__range {
		height: 6px;
		mask: radial-gradient(circle 10px at var(	--ellipse-position), #000 4px, transparent 4px, transparent 6px, #000 0);
	}
}
