.footer {
	width: 100%;
	padding-block: 32px;
	height: var(--footer-height);
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer a {
	text-transform: uppercase;
	color: rgba(245, 244, 244, 1);
	transition: color 0.2s ease-in-out;
}

.footer a:hover {
	color: rgb(147, 51, 234);
}

@media (width < 887px) {
	.footer {
		text-align: center;
		padding-block: 24px;
	}
}

@media (width < 641px) {
	.footer {
		font-size: 12px;
		padding-block: 16px;
	}
}
