.slider {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--color-dark);
	column-gap: 32px;
}

@media (width <= 887px) {
	.slider {
		column-gap: 24px;
	}
}

@media (width <= 641px) {
	.slider {
		column-gap: 16px;
	}
}
