.slider {
	height: auto;
	color: var(--color-dark);
	padding: 32px 0;
}

.slider__content {
	display: flex;
	align-items: center;
	flex: 1;
	gap: 32px;
	margin-bottom: 32px;
}

.slider__title {
	font-size: 24px;
}

.slider__tab-button-list {
	display: flex;
	column-gap: 32px;
}

.slider__tab-button {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	border: none;
	border-bottom: 2px solid transparent;
	background: transparent;
	color: var(--color-gray-accent);
	padding: 8px 0 0 0;
	cursor: pointer;
	transition: border-bottom var(--transition-duration) ease-in-out;
}

.slider__tab-button:hover {
	border-bottom: 2px solid var(--color-gray-accent);
}

.is-current {
	color: var(--color-light);
	border-bottom: 2px solid var(--color-light);
	cursor: default;
}

.slider__switch-button {
	min-width: 56px;
	height: 48px;
	border: none;
	border-radius: var(--border-radius);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-light);
	transition: background var(--transition-duration) ease;
}

.slider__switch-button:hover {
	background: var(--color-light-accent);
}

.slider__switch-button img {
	min-width: 9px;
	height: 18px;
}

.disabled {
	background: var(--color-gray);
	pointer-events: none;
}

.slider__tab-container {
	display: flex;
	align-items: center;
	column-gap: 32px;
	justify-content: space-between;
}

.slider__tab-content {
	display: none;
	max-width: 880px;
	height: 64px;
}

.slider__tab-content_content_show {
	display: flex;
	justify-content: start;
	gap: 16px;
	overflow: hidden;
	mask-image: linear-gradient(90deg, #000 95%, transparent 100%);
}

.slider__tab-info {
	display: flex;
	align-items: center;
	column-gap: 16px;
	min-width: fit-content;
	height: 100%;
	background: rgba(245, 244, 244, 0.4);
	border-radius: var(--border-radius);
	padding: 16px;
}

.slider__tab-info_week {
	min-width: fit-content;
}

@media (width < 887px) {
	.slider {
		padding: 24px 0;
	}

	.slider__content {
		margin-bottom: 24px;
	}

	.slider__tab-container {
		column-gap: 24px;
	}

	.slider__tab-content_content_show {
		gap: 12px;
	}
}

@media (width < 768px) {
	.slider__tab-content {
		height: 136px;
	}

	.slider__tab-content_content_show {
		gap: 8px;
	}

	.slider__tab-info {
		min-width: 73px;
		flex-direction: column;
		justify-content: space-between;
	}

	.slider__tab-info_week {
		min-width: 131px;
	}
}

@media (width < 641px) {
	.slider__content {
		gap: 16px;
		margin-bottom: 16px;
	}

	.slider__tab-container {
		column-gap: 16px;
	}

	.slider__switch-button {
		min-width: 40px;
		height: 32px;
	}

	.slider__switch-button img {
		min-width: 6px;
		height: 12px;
	}

	.slider {
		padding: 16px 0;
	}

	.slider__title {
		font-size: 16px;
	}

	.slider__tab-button-list {
		column-gap: 16px;
	}

	.slider__tab-button {
		font-size: 12px;
	}

	.slider__date,
	.slider__temp {
		font-size: 12px;
		line-height: 16px;
	}

	.slider__tab-content {
		height: 104px;
	}

	.slider__tab-info_week {
		min-width: 98px;
		padding: 12px;
	}
}

@media (max-width: 450px) {
	.slider__date,
	.slider__temp {
		font-size: 12px;
		line-height: 16px;
	}

	.slider__tab-content {
		height: 104px;
	}

	.slider__tab-info_week {
		min-width: 98px;
		padding: 12px;
	}
}
