.header {
	width: 100%;
	padding-block: 32px;
	border-radius: var(--border-radius);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (width <= 887px) {
	.header {
		padding-block: 24px;
		column-gap: 135px;
	}
}

@media (width <= 641px) {
	.header {
		padding-block: 16px;
	}
}

@media (width <= 500px) {
	.header {
		column-gap: 55px;
	}
}

@media (width <= 380px) {
	.header {
		column-gap: 16px;
	}
}
