.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}

@media (width < 887px) {
	.container {
		padding-inline: 24px;
	}
}

@media (width < 641px) {
	.container {
		padding-inline: 16px;
	}
}
