.weather-today {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 16px;
	padding-block: 32px;
}

.weather-today__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;
	padding: 8px;
}

.weather-today__info-day {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 64px;
}

.weather-today__dateTimeCity {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 8px;
}

.weather-today__temp {
	font-size: 112px;
	line-height: 112px;
	font-weight: 700;
}

.weather-today__city {
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
}

.weather-today__date,
.weather-today__time {
	font-size: 20px;
	line-height: 24px;
}

.weather-today__other-info {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.weather-today__other-info-weather {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 8px;
}

.weather-today__other-info-weather img {
	width: 24px;
	height: 24px;
}

.weather-today__other-info-weather figcaption,
.weather-today__feeling {
	font-size: 20px;
	line-height: 24px;
}

@media (width <= 1024px) {
	.weather-today {
		flex-direction: column;
		row-gap: 48px;
	}
}

@media (width <= 887px) {
	.weather-today {
		padding: 24px 0;
		row-gap: 48px;
	}

	.weather-today__info-day {
		row-gap: 24px;
	}

	.weather-today__dateTimeCity {
		row-gap: 6px;
	}
}

@media (width <= 641px) {
	.weather-today {
		padding: 16px 0;
		row-gap: 32px;
	}

	.weather-today__city {
		font-size: 16px;
		line-height: 20px;
	}

	.weather-today__date,
	.weather-today__time,
	.weather-today__feeling,
	.weather-today__other-info-weather figcaption {
		font-size: 14px;
		line-height: 16px;
	}

	.weather-today__info-day {
		row-gap: 16px;
	}

	.weather-today__dateTimeCity,
	.weather-today__other-info {
		row-gap: 4px;
	}

	.weather-today__other-info-weather img {
		width: 16px;
		height: 16px;
	}

	.weather-today__temp {
		font-size: 56px;
		line-height: 56px;
	}
}
