.weather-details__range-ellipse {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: var(--color-light);
	position: absolute;
	left: calc(var(--ellipse-position) - 3px);
}

@media (width < 641px) {
	.weather-details__range-ellipse {
		width: 6px;
		height: 6px;
	}
}
