.content {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
	background-color: rgba(112, 112, 112, 0.2);
	backdrop-filter: blur(10px);
	border-radius: var(--border-radius);
}

@media (max-width: 850px) {
	.content {
		padding-inline: 24px;
	}
}

@media (max-width: 450px) {
	.content {
		padding-inline: 16px;
	}
}
