body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-family: var(--font-family-base), sans-serif;
  color: var(--color-light);
  font-variant-numeric: lining-nums;
  background: url('../assets/images/main-bg.jpg') center / cover no-repeat fixed;
  padding: 32px;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--color-light);
}

main {
  width: 100%;
}

@media (width <= 887px) {
  body {
    padding: 24px;
    background-position: top center;
  }
}

@media (width <= 641px) {
  body {
    padding: 16px;
    align-items: start;
  }
}
